---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.page__hero--overlay .page__title {
  text-shadow: 2px 2px 4px #000000 !important;
}

.asciicast {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -80px;
  border: 15px solid #ccc;
  border-radius: 10px;
}

.box {
  padding: 60px;
  background-color: #073763;
  overflow-x: hidden;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

#exploring {
  margin-bottom: 20px;
  padding-top: 0px !important;
  color: white;
}

#involved {
  padding: 25px;
  background-color: #073763;
  font-size: smaller;
  label {
    color: white;
  }
}

h1 {
  padding-top: 50px;
  color: #073763;
}

